<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Some Website</title>
  </head>
  <body>
    {{> header}}
    <p>{{screamIt welcomeMessage }}</p>
    <p>This page serves for me to practice using express to host 
      node projects. hbs is also one more stuff I used here.
    </p>
    {{> footer}}
  </body>
</html>
